.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 0 30px 30px 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7.4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play-btn {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 12px;
  margin: 2rem 0;
  border: 0 solid;
  border-radius: 10px;;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.play-btn:hover{
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 1px #427388; 
  transform: scale(1.08);
}

footer {
  margin-top: 60px;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.copyright {
  margin-top: -16px;
}

.copyright img{
  height: 30px;
  width: 30px;
  transform: translate(0,5px);
}